@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:wght@500&family=Shalimar&family=Work+Sans:wght@700&display=swap');

/*------------
 Common Styles
 -------------- */
body{
    font-family: 'Work Sans', sans-serif;
}
.content{
    font-size: 16px;
    font-weight: 400px;
    color: #727272;
}


header{
    width: 1920px;
height: 1222px;
background: rgba(255, 144, 14, 0.1);
position: absolute;
}
.header{
    display: flex;
 
    justify-content: space-around;
    align-items: center;
    padding: 50px;

    


}
.header-author{
    
}
.header-title{
    font-size: 45px;
}
.nav-bar a{
    font-size: 18px;
    padding: 20px;
    text-decoration: none;
}
.decription-title{

    font-size: 64px;
}
.header-description{
    width: 662px;
    height: 225px;
text-align: center;
padding-left: 550px;
}
.header-content{
    color: #727272;
    font-size: 16px;
}
button{
   padding: 20px; 
   border-radius: 10px;
   border: none;
   background-color:
   #FF900E ;
   color: white;
   
}

.banner-image img{
    width: 1440px;
height: 700px;
position: relative;
top: 700px;
left: 100px;

}
/* Feature Style */
.quick-list{
    margin-top: 800px;
    display:grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 40px;


    
    
   
    
}
.feature-images{
   display: grid;
   grid-template-columns: repeat(2, 1fr);
   margin-left: 300px;
 
}
.feature-image{
        Width:342px;
        Height: 342px;
   
        padding: 10px;
}
.feature-detail{
        width: 537px;
    height: 304px;
    padding-top: 150px;
   
}
.feature-title{
    font-size: 45px;
}
.quick{
    color: #727272;
}
.features{
    color: #FF900E;
}
.feature-description{
    font-size: 16px;
    color: #727272;
    line-height: 26px;
}


/* Features Will Styels */
#features{
    margin-top: 280px;
    margin-left: 240px;
    width: 1440px;
height: 1059px;
}
.features-title{
    width: 586px;
height: 982px;
}
article{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.features-will{
    width: 586px;
height: 1001px;
}
.feature-will-div{
    width: 468px;
    height: 106px;
    border-left:5px solid #FF900E;
    padding-left:20px ;

    
}
.features-will-title{
    font-weight: 700;
    font-size: 45px;
}
.features-will-image img{
    width: 708px;
    height: 1050px;
}
.common-div{
    padding: 30px;
    margin-top: 20px;
    background: white;
    box-shadow: 0px 4px 30px 0px rgb(240, 236, 236);
}
.div-title{
    font-size: 20px;
}
#btn{
   

    margin-top: -100px;
    margin-left: 600px;
    
}
#btn h2{
   
    width: 300px;
    font-size: 65px;
    margin: 0 auto;
    padding: 4px;
}

/* ------------
     Facts Styles
     -------------- */
#fact{
    width: 542px;
    margin-left: 240px;
    margin-top: 130px;
}
.fact-title{
    font-size: 65px;
    margin-bottom: 24px;
}
/* -----------------
   Icon Styles
   --------------- */

   .icons{
    display: flex;
   margin-top: 100px;
  
    margin-left: 350px;
    align-items: center;
   column-gap: 50px;

   }
   .icon{
    border: 1px solid #FF900E; 
    border-radius: 10px;
   left: 150px;
    width:241; 
    
    text-align: center;
    padding: 45px 35px;
   }
   
  
   .number{
    font-size: 45px;
    margin-top: 10px;
    margin-bottom: 5px;
   }
   /* -----------
    sponsore style
    ---------------- */
        .sponsore{
            width: 542px;
            height: 129px;
            text-align: center;
            margin-left: 689px;
            margin-top: 180px;
            font-size: 45px;
        
        }
        .sponsore-title{
            margin-bottom: 20px;
        }
        /* ----------
          Logo styles
          ------------ */
          .logo{
            display: flex;
            margin-left: 140px;
            margin-top: 50px;
           
          }
          .sponsore-logo img{
            margin-left: 155px;
            
          }
          /* ----------
            Footer styles
            ------------ */
            .footer-section{
                background-color: 
                #FFF4E7;
                width: 1000px;
                height: 80px;
                text-align: center;
                margin-top: 130px;
                margin-left: 500px;
            }
            .footer-section .content{
                padding-top: 30px;
            }

            @media screen and (max-width:688px) {

                .header{
                    
                    flex-direction: column;
                    width: 100%;
                    text-align: center;
                    
                }
                .nav-bar a{
                    display: grid;
                    grid-template-columns: repeat(1, 1fr);
                    background-color: pink;
                    margin: 4px;
                   text-align: center;
                   

                }
                .header-description{
                  display: flex;
                  flex-direction: column;
                  text-align: center;
                  margin-left: 120px;
              
            }
            .banner-image img{
                margin-top: 300px;
                text-align: center;
            }
          .feature-detail{
            display:flex;
            flex-direction: column;
            justify-content: center;
            text-align: center;
            margin-left: 70px;
           
           
          }
          .image-section{
            display: flex;
            flex-direction: column;
            justify-content: center;
            margin-left: 500px;
          }
          .quick-list{
            display: flex;
            flex-direction: column;
            margin-left: 300px;
          }
          .feature-detail{
            margin-left: 400px;
          }
          

         
        article{
            display: flex;
            flex-direction: column;
            text-align: center;
            margin-left: 450px;
        }
        .features-will-image{
            display: flex;
            flex-direction: column;
            margin-top: 100px;
            position: relative;
            margin-left: -11px;
        }
    #btn{
       margin-top: 50px;
       margin-left:550px;
    }
    #fact{
        margin-top: 1350px;
        margin-left: 800px;
    }
    .icons{
        flex-direction: column;
        width: auto;
        row-gap: 20px;
        text-align: center;
        margin-left: 950px;
    }
    .sponsore{
        width: 100%;
       text-align: left;
       margin-left: 750px;
    }
    .logo{
        flex-direction: column;
        text-align: center;
        row-gap: 40px;
        margin-left: 700px;
    }
    .footer-section{
        text-align: center;
        margin-left: 500px;
    }
    }